.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.codeDescriptionSection {
  width: 100%;
  height: 7500px;
  padding: 2rem;
}

.codeDescriptionSectionArticle {
  position: sticky;
  top: calc(6rem);
  width: 100%;
}
